<?xml version="1.0" encoding="utf-8"?><!--
  ~ Created by NQC on 4/25/20 7:25 PM
  ~  Copyright© 2020 NQC. All Rights Reserved.
  ~  Last modified 4/25/20 7:25 PM
  ~
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nqc.idoctor">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.level.full"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.capability.raw"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <application
        android:name="com.nqc.idoctor.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <activity
            android:name="com.nqc.idoctor.common.view.activity.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.nqc.idoctor.common.view.base.BottomTabsActivity" />
        <activity android:name=".home.view.activity.WebViewActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".common.creative.bluetooth.ConnectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/selectorDialog"
            tools:ignore="LockedOrientationActivity"/>

        <service
            android:name=".common.creative.recvdata.ReceiveService"
            android:enabled="true" />
    </application>

</manifest>